body{
  margin: 0
}
.Percent50{
  width: 50%;
    padding: 2em 0em;
}
.blurr{
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: grey
}
.modalI{
  z-index: 2;
  position: absolute;
  width: 60%;
  left: 20%;
  top: 5em;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
      flex-flow: row wrap;
}

.imageCenter{
  text-align: center;
}
.imageCenter img{
  max-width: 100%;
  padding: 0 2em;
}
.textJust{
  text-align: justify;
}
.textJust p{

  padding: 0 2em;
}

.Percet100{
  width: 100%;
padding: 2em 0;
text-align: center;
}
.interactive{
  width: 100%;
display: flex;
justify-content: center;
flex-flow: row wrap;
}
.ContentActivity,
.activityBlock{
  width: 60%;
    text-align: justify;
}
.activityBlock{

  width: 45%;
}

.ActItem,
.ActBut{
  width: 100%;
  text-align: center;
}
.ActItem {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: center;
}
.ActItem .Item{
  width: 50%;
}
ol.Item{
  text-align: initial;
}
ul.Item{
  list-style-type:none;
}
.infoButton{
  position: absolute;
  top: 1%;
  right: 20%;
}
.infoButton img{
  width: 50px;
  height: auto;
}
.modalSuccess{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  z-index: 2;
  position: absolute;
  width: 60%;
  left: 20%;
  background: #fff
}
.hide{
  display: none;
}
